@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');


:root {
  // COLOR
  --color-primary: hsl(210, 100%, 63%);

  --color-contrast-lower: hsl(0, 0%, 97%);
  --color-contrast-low: hsl(0, 0%, 85%);
  --color-contrast-low-alt: hsl(0, 0%, 80%);
  --color-contrast-medium: hsl(0, 0%, 50%);
  --color-contrast-high: hsl(0, 0%, 15%);
  --color-contrast-higher: hsl(0, 0%, 0%);

  --color-bg: hsl(0, 0%, 95%);
  --color-text: var(--color-contrast-high);
  --color-border: var(--color-contrast-low);

  // FONT
  --font-primary: 'Roboto', Helvetica, Arial, sans-serif;

  // ELEMENTS DIMENSIONS
  --unit-step: 4px;

  --spacing-xs: calc(2 * var(--unit-step));
  --spacing-sm: calc(4 * var(--unit-step));
  --spacing-md: calc(6 * var(--unit-step));
  --spacing-lg: calc(8 * var(--unit-step));
  --spacing-xl: calc(9 * var(--unit-step));
  --spacing-xxl: calc(11 * var(--unit-step));

  // TEXT
  --text-base-size: 10px;
  --text-xs: calc(var(--text-base-size) * 1);
  --text-sm: calc(var(--text-base-size) * 1.2);
  --text-md: calc(var(--text-base-size) * 1.4);
  --text-lg: calc(var(--text-base-size) * 1.8);
  --text-xl: calc(var(--text-base-size) * 2.4);
  --text-xxl: calc(var(--text-base-size) * 3.2);
  --text-xxxl: calc(var(--text-base-size) * 3.6);
}
